<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="NewFolderDialog">
		<title>newfolderCaption</title>
		<centered>1</centered>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxFlexGridSizer" variable="sizerMain" member="yes">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="yes">
					<cols>2</cols>
					<hgap>-5d</hgap>
					<growablecols>1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="stxtRootFolderCap" member="no">
							<label>newfolderRootCap</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5d</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="stxtRootFolder" member="yes">
							<label>Label</label>
							<maxsize>150,-1d</maxsize>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5d</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="no">
							<label>newfolderName</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5d</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txtFolderName" member="yes">
							<value>newfolderDefaultName</value>
							<size>102,12d</size>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5d</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5d</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label>btnOk</label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label>btnCancel</label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_BOTTOM</flag>
				<border>5d</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
